# Node
node_modules/
npm-debug.log
.DS_Store

# React
/client/node_modules
/client/build

# Environment variables
.env
client/.env
server/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Consolidation script output
consolidate.js

# Uploads folder
/server/uploads/
